import React from 'react';
{{{ imports packages }}}
import styles from './{{name}}.module.scss';

const {{name}} = ({ className, ...props }) => (
{{#if (hasPackage packages "classNames")}}
  <div
    className={classNames(styles.{{ camelCase name }}Component, className)}
    {...props}
  >
    {{name}}
  </div>
{{else}}
  <div className={styles.{{ camelCase name }}Component}>{{name}}</div>
{{/if}}
);

{{#if (hasPackage packages "prop-types") }}
{{name}}.propTypes = {
  className: PropTypes.string.isRequired
}
{{/if}}

export default {{name}};
