import React from 'react';
{{{ imports packages }}}
import styles from './{{name}}.module.scss';

const {{name}} = () => (
  <div className={styles.{{ camelCase name }}Component}>{{name}}</div>
);

export default {{name}};
